{% for item in posts if item.id == 719 %}
<a id="article-anch5" class="anch row d-none d-md-block"></a>
<div class="container-fluid url5 parallax2 bk5">
    <div class="row p-30 mb-10 mt-10 white">
    <div class="row col-12 col-md-6">
        <a href="{{ site.url }}/services-publics/#article-anch" class="white col-12 col-md-4">
            <div class=" hmin30vh h-40 mt-20 mb10  bk2 resources-line2 toile p-10 brd2 brd-c2">
                <p class="p-10">Services publics</p>
                <div class="white caption2  mt-10">Les services publics du secteur</div>
            </div>
        </a>
        <a href="{{ site.url }}/associations/#article-anch" class="white col-12 col-md-4">
            <div class=" hmin30vh h-40 mt-20 bk2 mb10 resources-line2 toile p-10 brd2 brd-c2">
                <p class="p-10"> Associations</p>
                <div class="white caption2  mt-10">La liste des associations macariennes</div>
            </div>
        </a>
        <a href="{{ site.url }}/economie/#article-anch" class="white col-12 col-md-4">
            <div class=" hmin30vh h-40 mt-20 bk2 mb10 resources-line2 toile p-10 brd2 brd-c2">
                <p class="p-10"> Entreprises
                <br>Services</p>
                
                <div class="white caption2">Les commerces, les artisans, les PME, etc.</div>
            </div>
        </a>
        </div>
        <div class="offset-md-3 d-none d-md-block"></div>
        <div class="col-12 col-md-3 mt-10 bk3 p-20 shadow">
            <h1 class=" col-8 color4 ml-10 bk3 mb30">
                <img src="{{ theme.link }}/assets/img/armor-white.png" class="w-15 p-10 d-inline-block" alt="armes de {{ site.title }} ">{{ item.title }}
            </h1>
            <div class="w-80 m-a ">{{ item.get_field('content') }}</div> 
            {% include 'partial/anchors/anchor6.twig' %}
        </div>

    </div>
</div>


    
{% endfor %}