 <!-- SLIDER -->
    {# Si Slider existe#}
    {% if post.get_field('slider-boolean')== true %}
        <div id="carouselExampleIndicators" class=" hmax80vh carousel slide d-none d-lg-block" data-ride="carousel">
            
            <ol class="carousel-indicators">
                {% if  post.get_field('image_2') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                {% endif %}
                {% if  post.get_field('image_2') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                {% endif %}
                {% if  post.get_field('image_3') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                {% endif %}
                {% if  post.get_field('image_4') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                {% endif %}
                {% if  post.get_field('image_5') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
                {% endif %}
                {% if  post.get_field('image_6') %}
                    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                {% endif %}
            </ol>
            {# {% if post.type == 'acts' %}
                {% include 'partial/blocs/bloc-titre-realisation-bandeau.twig' %}
            {% elseif post.title == 'Accueil' %} #}
                {% include 'partial/blocs/bloc-titre-bandeau.twig' %}
            {# {% else %}
                {% include 'partial/blocs/bloc-titre-realisation-bandeau.twig' %}
            {% endif %} #}
            {# Carousel #}
            <div class="carousel-inner">
                <!-- IMAGES 1265 X 550 -->
                {% if  post.get_field('image_1') %}
                    {# img 1#}
                    <div class="carousel-item active m-a">
                    
                        <img class="d-block w-100 m-a" src="{{ post.get_field('image_1').url }}" alt="{{ post.get_field('image_1').alt }}">
                    </div>
                {% endif %}
                {% if  post.get_field('image_2') %}
                    {# img 1#}
                    <div class="carousel-item  m-a">
                    
                        <img class="d-block w-100 m-a " src="{{ post.get_field('image_2').url }}" alt="{{ post.get_field('image_2').alt }}">
                    </div>
                {% endif %}
                {% if  post.get_field('image_3') %}
                    {# img 1#}
                    <div class="carousel-item  m-a">
                    
                        <img class="d-block w-100 m-a " src="{{ post.get_field('image_3').url }}" alt="{{ post.get_field('image_3').alt }}">
                    </div>
                {% endif %}
                {% if  post.get_field('image_4') %}
                    {# img 1#}
                    <div class="carousel-item  m-a">
                    
                        <img class="d-block w-100 m-a " src="{{ post.get_field('image_4').url }}" alt="{{ post.get_field('image_4').alt }}">
                    </div>
                {% endif %} 
                {% if  post.get_field('image_5') %}
                    {# img 1#}
                    <div class="carousel-item  m-a">
                    
                        <img class="d-block w-100 m-a " src="{{ post.get_field('image_5').url }}" alt="{{ post.get_field('image_5').alt }}">
                    </div>
                {% endif %}
                 {% if  post.get_field('image_6') %}
                    {# img 1#}
                    <div class="carousel-item  m-a">
                    
                        <img class="d-block w-100 m-a " src="{{ post.get_field('image_6').url }}" alt="{{ post.get_field('image_6').alt }}">
                    </div>
                {% endif %}
            </div>
                {% if  post.get_field('image_2') %}
                    <!-- BOUTONS -->
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"><i class="white fas fa-angle-left"></i></span>
                        {# <span class="sr-only">Previous</span> #}
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"><i class="white fas fa-angle-right"></i></span>
                        <span class="sr-only">Next</span>
                    </a>
                {% endif %}

            
        </div>
         

    {% endif %}