 <footer class=" container-fluid row bk7 ">
    <a id="article-widget-l1" class="anch col-md-12 d-none d-md-block"></a>
    {% include 'partial/blocs/contact.twig' %}
     {{dynamic_sidebar1}}
    {% include 'partial/blocs/map.twig' %}
     <a id="article-widget-l2" class="anch col-md-12 d-none d-md-block"></a>
    {% include 'partial/blocs/today-service.twig' %}
    {% include 'partial/blocs/calendar.twig' %}
    
    
    <a id="article-widget-l3" class="anch col-md-12 d-none d-md-block"></a>
    <h1 class="mb20 col-12 col-md-8 m-a">
        <div class="row color4 bk3 p-10">
            <div class="col-12 col-md-2">
                <img src=" {{ theme.link }}/assets/img/service-public.jpg " alt="servicepublic.fr" class="r-50 d-block w-100">
            </div>
        <h1 class="t12 col-12 col-md-10">Les dernières infos de 
        <br>
        service-public.fr</div>
        </h1>
    </h1>
    {{dynamic_sidebar3}}
    {{dynamic_sidebar4}}
    {{dynamic_sidebar5}} 
    {{dynamic_sidebar6}}
     <a id="article-widget-l3" class="anch col-md-12 d-none d-md-block"></a>
    {{dynamic_sidebar7}}
    {{dynamic_sidebar8}} #}
     <div class="h10 mt-10 white row">
        
        <hr class="brd-c3 col-md-2 m-a d-none d-md-block"> 
        <div class="white col-md-6 d-none m-a d-md-block">
            
                <img src="{{ theme.link }}/assets/img/armor-white.png" alt="" class="w-10 d-inline"> - tous droits réservés: saintmacaire.fr ®
        </div>
        <hr class="brd-c3 col-md-3 d-none m-a d-md-block">
            
    </div>
</footer>